<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <%= link_to '投稿一覧', sweet_path, class: "btn btn-outline-info" %>
        <%= link_to '編集', edit_sweet_path(@sweet), class: "btn btn-outline-info" %>
    </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @sweet.name %></h4>
  </div>
  <div class="card-body">
      <p class="card-text">値段　：<%= @sweet.price %></p>
  </div>
  <div class="card-body">
      <p class="card-text">ジャンル　：<%= @sweet.genre %></p>
  </div>
  
  <h2>コメント一覧</h2>
<% @reviews.each do |review| %>
  <div>
    <%= review.point %>
    <%= review.content %>
    <hr>
  </div>
<% end %>


<%= form_for @review, url: sweet_reviews_path(params[:id]) do |f| %>
  <h3>レビュー</h3>
    <%= f.text_field :point %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %>
  
  
  
</div>
